package {{ .PackageName }}

import (
{{ range .ImportInfo }}
    "{{ . }}"
{{end}}
)

type {{ .Name }} struct {
{{ range $k, $v := .Columns }}
    {{ $v.GoName }} {{ $v.GoType }} `json:"{{ $v.Name }}"` // {{ $v.Comment -}}
{{ end }}
}

func ({{ .Receiver }}) TableName() string {
return "{{ .Table }}"
}

